#navbar {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: var(--padding-s);
}

#navbar h1,
h2 {
	padding: 0;
	margin: 0;
	line-height: 0;
}

#navbar h2 {
	position: absolute;
	top: 80px;
	left: calc(var(--padding-s) - 1px);
	font-size: 1rem;
	font-weight: 400;
	color: var(--grey-dark);
}

#navbar h2 span.nav-url {
	position: absolute;
	top: 1.25rem;
	left: 0;
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--red);
}

#navbar button {
	all: unset;
}
