#tempo {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	user-select: none;
}

#tempo .tempo-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#tempo .int {
	font-size: 6rem;
	font-weight: 700;
	color: #fff;
}

#tempo .float {
	font-size: 3.5rem;
	color: var(--grey-dark);
}

#tempo .bpm {
	font-size: 1rem;
	font-weight: 700;
	margin: 0 0 0 1rem;
}
