/* IBM Plex fonts */
@import url('https://assets.kbsb.app/fonts/ibm_plex_sans/font_ibm_plex_sans.css');

@import 'normalize.css';

/* component imports */
@import 'components/nav.css';
@import 'components/menu.css';
@import 'components/tempo.css';
@import 'components/tapBox.css';

/* mobile first, desktop second */

:root {
	--light: #ffffff;
	--dark: #181818;

	--red: #ba2525;
	--grey-dark: #a3a3a3;
	--grey-light: #ededed;

	--text-primary: #dddddd;
	--text-secondary: #4b4b4b;

	--margin-s: 20px;
	--padding-s: 20px;
}

html {
	font-family: 'IBM Plex Sans', sans-serif;
	font-feature-settings: 'kern' 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 16px;
}

body {
	background-color: var(--dark);
	color: var(--text-primary);
}

div#app {
	min-height: 100vh;
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 4rem var(--padding-s);
}

@media only screen and (min-width: 400px) {
	html {
		font-size: 20px;
	}
}

/* only adjust the min-height on iOS devices */
@supports (-webkit-touch-callout: none) {
	div#app {
		min-height: -webkit-fill-available;
	}

	main {
		padding: 2rem var(--padding-s);
	}
}
